@media screen and (max-width: 768px){
    img{
        height: 76%;
        width: 76%;
    }

    

    .techcata_header{
        width: 76%;
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 90px;
        margin-bottom: 60px;
        padding-left: 10px;
        
    }    

    .techcata_image1{
        width: 68px;
        height: 58px;

    }
    
    .techcata_image2{
        width: 59px;
        height: 58px;
    }

    .techcata_image3{
        width: 71px;
        height: 59px;
    }

    .techcata_image4{
        width: 69px;
        height: 58px;
    }

    .techcata_image5{
        width: 71px;
        height: 59px;
    }

    .techcata_image6{
        width: 69px;
        height: 59px;
    }

    .techcata_image7{
        width: 68px;
        height: 58px;
    }

    .techcata_image8{
        width: 69px;
        height: 59px;
    }

    .techcata_unheader{
        max-width: 768px;
        height: 96px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 150px;
    }

    .techcata_unhead1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size:25px;
        line-height: 31px;
        text-align: right;
        color: #FFFFFF;
        border-right: 2px solid rgba(255, 255, 255, 0.5);
        padding-right: 40px;
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }

    .techcata_unhead2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 31px;
        color: #FFFFFF;
        padding-left: 40px;
        padding-top: 30px;
    }

    .techcata_block1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 9px;
        margin-bottom: 40px;
    }
    
    .techcata_text1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        padding-right: 40px;
        border-right: 2px solid rgba(255, 255, 255, 0.5);
    }

    .techcata_text1 br{
        display: none;
    }
    
    .techcata_text2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        padding-left: 40px;
    }
    
    .techcata_block2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 684px;
        margin-bottom: 70px;
        
    }
    
    .techcata_texts1{
        border-right: 2px solid rgba(255, 255, 255, 0.5);
        padding-right: 40px;
        text-align: right;
    }
    
    .techcata_text3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #FFFFFF;
        padding-bottom: 12px;
    
    }
    
    .techcata_texts2{
        padding-left: 40px;
        text-align: left; 
    }
    
    .techcata_text4{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        padding-bottom: 12px;
    }
    
}

@media screen and (max-width: 856px){
    .techcata_header{
        width: 76%;
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 90px;
        margin-bottom: 60px;
        padding-left: 10px;
        
    }    

    .techcata_image1{
        width: 68px;
        height: 58px;

    }
    
    .techcata_image2{
        width: 59px;
        height: 58px;
    }

    .techcata_image3{
        width: 71px;
        height: 59px;
    }

    .techcata_image4{
        width: 69px;
        height: 58px;
    }

    .techcata_image5{
        width: 71px;
        height: 59px;
    }

    .techcata_image6{
        width: 69px;
        height: 59px;
    }

    .techcata_image7{
        width: 68px;
        height: 58px;
    }

    .techcata_image8{
        width: 69px;
        height: 59px;
    }


}

@media screen and (max-width: 320px){

.html, body{
background: url(/img/black-carbon-texture-background\ 2.png);
width: 320px;
height: 630px;
}    

.techcata_header{
    width: 266px;
    height: 26px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.techcata_image1{
    width: 28px;
    height: 25px;
    padding-right: 5px;

}

.techcata_image2{
    width: 25px;
    height: 25px;
    padding-right: 5px;
}

.techcata_image3{
    width: 30px;
    height: 26px;
    padding-right: 5px;
}

.techcata_image4{
    width: 29px;
    height: 25px;
    padding-right: 5px;
}

.techcata_image5{
    width: 30px;
    height: 26px;
    padding-right: 5px;
}

.techcata_image6{
    width: 29px;
    height: 26px;
    padding-right: 5px;
}

.techcata_image7{
    width: 28px;
    height: 25px;
    padding-right: 5px;
}

.techcata_image8{
    width: 29px;
    height: 26px;
    padding-right: 5px;
}

.techcata_unheader{
    max-width: 320px;
    height: 105px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.techcata_unhead1{
     font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border-right: 0;
    
}



}

