* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-variant: lining-nums;
}

img {
    height: auto;
    max-width: 100%;
}



html, body {
    height: 100%;
    overflow-x:hidden;
    background:url(/img/black-carbon-texture-background\ 1.png)
}

.techcata_header{
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 60px;
}

.techcata_image1{
    padding-right: 16px;

}

.techcata_image2{
    padding-right: 18px;
    
}

.techcata_image3{
    padding-right: 20px;
    
}

.techcata_image4{
    padding-right: 22px;
    
}

.techcata_image5{
    padding-right: 20px;
    
}

.techcata_image6{
    padding-right: 14px;
    
}

.techcata_image7{
    padding-right: 14px;
    
}

.techcata_container{
    max-width: 1172px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto 70px;
    }

    .techcata_block1{
        width: 100%;
        max-width: 504px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        margin-right: 50px;
        }
        
        .techcata_block2{
        width: 1px;
        min-height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        
        .techcata_block3{
        width: 100%;
        max-width: 523px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        margin-left: 50px;
        }

.techcata_head1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 150px;
}

.techcata_text1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 42px;

}

.techcata_text2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 12px;

}

.techcata_mail1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.techcata_line1{
    width: 1px;
    height: 96px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 150px;
}

.techcata_line2{
    width: 1px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
}

.techcata_line3{
    width: 1px;
    height: 81px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}

.techcata_head2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 174px;
    padding-top: 24px;
}

.techcata_text3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 42px;

}

.techcata_text4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 12px;

}

.techcata_mail2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;


}

.techcata_copy{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;

}

.techcata_shift{
    display: none;
}

.techcata_mobile{
    display: none;
}